div.panel.panel-primary
  div.panel-heading
    h3.panel-title #{stats.username}
    h3.panel-title Posts: #{stats.counts.media} Followers: #{stats.counts.followed_by} Following: #{stats.counts.follows} 
  div.panel_body
    div(id='carousel' + hash class='carousel slide' data-ride='carousel')
      ol.carousel-indicators
        - var i = 0;
        while i < medias.length / 4
          if i == 0
            li.active(data-target='#carousel' + hash data-slide-to=i)
          else
            li(data-target='#carousel' + hash data-slide-to=i)

          - i++

      .carousel-inner(role='listbox')
        - var i = 0;
        while i < medias.length / 4
          if i == 0
            .item.active
    
              - var j = 0;
              while j < 4
                .col-lg-3
                  img.img-thumbnail(src=medias[4 * i + j].images.thumbnail.url)
                - j++
          else
            .item
              - var j = 0;
              while j < 4
                .col-lg-3
                  img.img-thumbnail(src=medias[4 * i + j].images.thumbnail.url)
                - j++
          - i++

      a.left.carousel-control(href='#carousel' + hash role='button' data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous

      a.right.carousel-control(href='#carousel' + hash role='button' data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next